* {
  margin:0 auto;
  padding:0;
}

html, body {
  height: 100%;
  font-family: Arial, "Lucida Grande", sans-serif; 
  font-weight: 600;
  font-size:42px;
  color: #FFFFFF;
  background-color: #1B1B1B;
  line-height: 1.6;
}

body {
  padding: 40px 20px;
  max-width: 570px;
  width:100%;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  display:inline;
}

h2 {
  font-size: 18px;
}

div.section {
  padding: 50px 0 0 0;
  font-size: 18px;
  font-weight: 200;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px 10px 0;
}

a:link, a:visited {
  border-bottom: 2px solid;
  text-decoration: none;
  color: inherit;
  opacity: 1;
}

a.yellow {
  border-color: #FCFEBB;
}
a.yellow:hover {
  color: #FCFEBB;
}
a.pink {
  border-color: #FF55A9;
}
a.pink:hover {
  color: #FF55A9;
}
a.blue {
  border-color: #3878AF;
}
a.blue:hover {
  color: #3878AF;
}
