* {
  margin:0 auto;
  padding:0;
}

html, body {
  height: 100%;
}

body {
  padding-top: 40px;
  max-width: 620px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size:32px;
  color: #555555;
  background-color: #F9F9F9;
  overflow: hidden;
  width:100%;
}

header {
  width: 100%;
  text-align: center;
  padding-bottom:25px;
}

h1 {
  font-weight: 300;
  font-size:32px;
  display:inline;
}

#main {
  text-align: center;
}

li {
  display: inline-block;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

a#reading {
  color: #C87C7E;
}
a#writing {
  color: #CE3868;
}
a#painting {
  color: #391658;
}
a#rambling {
  color: #445B8D;
}
a#pming {
  color: #279CA6;
}

footer {
  padding-top: 25px;
  width: 100%;
  text-align: center;
}
